# Git global config file

[core]
	editor = nvim
	excludesfile = ~/.gitignore_global
	autocrlf = input
	trustctime = false
[user]
	name = Afranio Martins
	email = afranioce@gmail.com
[includeIf "gitdir:~/Projects/Linio"]
    path = ~/Projects/Linio/.gitconfig
[includeIf "gitdir:~/Projects/Falabella"]
    path = ~/Projects/Falabella/.gitconfig
[commit]
	gpgsign = true
[gpg]
	program = /usr/bin/gpg
