# Git global config file

[core]
	editor = nvim
	excludesfile = ~/.gitignore_global
	autocrlf = input
  trustctime = false
[user]
	name = <Your name>
	email = <Your e-mail>
  signingkey = <you e-mail>
[includeIf "gitdir:~/Projects/Linio"]
    path = ~/Projects/Linio/.gitconfig
[includeIf "gitdir:~/Projects/Falabella"]
    path = ~/Projects/Falabella/.gitconfig
[commit]
	gpgsign = true
[gpg]
	program = /usr/bin/gpg
