{{ if (eq .chezmoi.os "linux") -}}
#!/bin/bash

set -eufo pipefail

# Install Zsh:
yay -Sy zsh

# Set Zsh as your default shell:
chsh -s $(which zsh)

# Install oh-my-zsh
test -f ~/.oh-my-zsh && git clone git://github.com/robbyrussell/oh-my-zsh.git ~/.oh-my-zsh || true

# Install some external plugins:
yay -Sy zsh-autosuggestions \
  zsh-completions \
  zsh-syntax-highlighting

# Install iconic font for Zsh
# See more: https://nerdfonts.com/
yay -Sy nerd-fonts-ubuntu-mono

# Install Powerlevel10k theme
yay -Sy zsh-theme-powerlevel10k
{{ end -}}