{{ if (eq .chezmoi.os "linux") -}}
{{ if (or (eq .chezmoi.osRelease.idLike "ubuntu") (eq .chezmoi.osRelease.idLike "ubuntu debian")) -}}
#!/bin/bash

set -eufo pipefail

sudo apt update
{{ if (eq .chezmoi.osRelease.id "neon") -}}
pkcon -y update
{{ else }}
sudo apt upgrade
{{ end -}}
sudo apt dist-upgrade

{{ end -}}
{{ end -}}
