{{ if (eq .chezmoi.os "linux") -}}
{{ if (or (eq .chezmoi.osRelease.idLike "ubuntu") (eq .chezmoi.osRelease.idLike "ubuntu debian")) -}}
#!/bin/bash

set -eufo pipefail

sudo apt update && sudo apt upgrade && sudo apt dist-upgrade

{{ end -}}
{{ end -}}
