{{ if (eq .chezmoi.os "linux") -}}
#!/bin/bash

set -eufo pipefail

keys=(
    personal
    falabella
    linio
)

for key in ${keys[@]}; do
	sudo ssh-keygen -y -f ~/.ssh/id_$key > ~/.ssh/id_$key.pub
done
{{ end -}}