{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash

set -eufo pipefail

pip3 install docker-compose

# Manage Docker as a non-root user
sudo groupadd -f docker
sudo usermod -aG docker $(whoami)
newgrp docker
# Configure Docker to start on boot
sudo systemctl enable docker.service
sudo systemctl enable containerd.service
sudo systemctl start docker.service

sudo ufw enable
sudo systemctl enable ufw

{{ end -}}
