{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash

set -eufo pipefail

# TODO Configurar megasync

# lazygit and lazydocker
export LAZYGIIT_VERSION=0.34 \
    && wget -qO- https://github.com/jesseduffield/lazygit/releases/download/v${LAZYGIIT_VERSION}/lazygit_${LAZYGIIT_VERSION}_Linux_x86_64.tar.gz | sudo tar -xz -C /usr/local/bin \
    && sudo chmod +x /usr/local/bin/lazygit
export LAZYDOCKER_VERSION=0.18.1 \
    && wget -qO- https://github.com/jesseduffield/lazydocker/releases/download/v${LAZYDOCKER_VERSION}/lazydocker_${LAZYDOCKER_VERSION}_Linux_x86_64.tar.gz | sudo tar -xz -C /usr/local/bin \
    && sudo chmod +x /usr/local/bin/lazydocker

# NVM
export NVM_DIR="$HOME/.nvm" && (
    git clone https://github.com/nvm-sh/nvm.git "$NVM_DIR"
    cd "$NVM_DIR"
    git checkout `git describe --abbrev=0 --tags --match "v[0-9]*" $(git rev-list --tags --max-count=1)`
) && \. "$NVM_DIR/nvm.sh"

# Postman
wget -qO- https://dl.pstmn.io/download/latest/linux64 | sudo tar -xz -C /opt \
    && sudo ln -s -f /opt/Postman/Postman /usr/bin/postman

# Install kitty
export KITTY_DIR="$HOME/.local/kitty.app" && (
    sh -c "$(wget -qO- sw.kovidgoyal.net/kitty/installer.sh)" -- launch=n
    sudo ln -s -f "$KITTY_DIR/bin/kitty" /usr/local/bin/
    cp "$KITTY_DIR/share/applications/kitty.desktop" ~/.local/share/applications/
    sed -i "s|Icon=kitty|Icon=$KITTY_DIR/share/icons/hicolor/256x256/apps/kitty.png|g" ~/.local/share/applications/kitty.desktop
)

# Install AWS Cli 2
# Fix error permission
# wget -qO- https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip | busybox unzip -d /tmp - && sudo sh /tmp/aws/install

# Install Dotnet current release
curl -sSL https://dot.net/v1/dotnet-install.sh | bash /dev/stdin -c Current
{{ end -}}
