{{ if eq .chezmoi.os "linux" -}}
{{ if eq .chezmoi.osRelease.id "pop" "ubuntu" -}}
#!/bin/bash

set -eufo pipefail

echo -e "\033[0;32m>>>>> Begin Setting Up 3rd Party Repositories <<<<<\033[0m"

REPO=$(lsb_release -cs)

# 3rd Party Repository: Docker
wget -qO - https://download.docker.com/linux/ubuntu/gpg |
    gpg --dearmor |
    sudo tee /etc/apt/trusted.gpg.d/docker.gpg > /dev/null
echo "deb [arch={{ .chezmoi.arch }} signed-by=/etc/apt/trusted.gpg.d/docker.gpg] https://download.docker.com/linux/ubuntu/ ${REPO} stable" |
    sudo tee /etc/apt/sources.list.d/docker.list

# 3rd Party Repository: Google Chrome
wget -qO - https://dl-ssl.google.com/linux/linux_signing_key.pub |
    gpg --dearmor |
    sudo tee /etc/apt/trusted.gpg.d/google.gpg > /dev/null
echo "deb [arch={{ .chezmoi.arch }} signed-by=/etc/apt/trusted.gpg.d/google.gpg] http://dl.google.com/linux/chrome/deb/ stable main" |
    sudo tee /etc/apt/sources.list.d/google.list

# 3rd Party Repository: Microsoft Packages
wget -qO - https://packages.microsoft.com/keys/microsoft.asc |
    gpg --dearmor |
    sudo tee /etc/apt/trusted.gpg.d/microsoft.gpg > /dev/null
echo "deb [arch={{ .chezmoi.arch }} signed-by=/etc/apt/trusted.gpg.d/microsoft.gpg] https://packages.microsoft.com/repos/code/ stable main" |
    sudo tee /etc/apt/sources.list.d/vscode.list
echo "deb [arch={{ .chezmoi.arch }} signed-by=/etc/apt/trusted.gpg.d/microsoft.gpg] https://packages.microsoft.com/repos/ms-teams/ stable main" |
    sudo tee /etc/apt/sources.list.d/teams.list
echo "deb [arch={{ .chezmoi.arch }} signed-by=/etc/apt/trusted.gpg.d/microsoft.gpg] https://packages.microsoft.com/repos/azure-cli/ ${REPO} main" |
    sudo tee /etc/apt/sources.list.d/azure-cli.list

# 3rd Party Repository: Spotify
wget -qO - https://download.spotify.com/debian/pubkey_5E3C45D7B312C643.gpg |
    gpg --dearmor |
    sudo tee /etc/apt/trusted.gpg.d/spotify.gpg > /dev/null
echo "deb [arch={{ .chezmoi.arch }} signed-by=/etc/apt/trusted.gpg.d/spotify.gpg] http://repository.spotify.com/ stable non-free" |
    sudo tee /etc/apt/sources.list.d/spotify.list

# 3rd Party Repository: Anydesk
wget -qO - https://keys.anydesk.com/repos/DEB-GPG-KEY |
    gpg --dearmor |
    sudo tee /etc/apt/trusted.gpg.d/anydesk.gpg > /dev/null
echo "deb [arch={{ .chezmoi.arch }} signed-by=/etc/apt/trusted.gpg.d/anydesk.gpg] http://deb.anydesk.com/ all main" |
    sudo tee /etc/apt/sources.list.d/anydesk.list

# 3rd Party Repository: Google Cloud
wget -qO - https://packages.cloud.google.com/apt/doc/apt-key.gpg |
    gpg --dearmor |
    sudo tee /etc/apt/trusted.gpg.d/kubernetes.gpg > /dev/null
echo "deb [arch={{ .chezmoi.arch }} signed-by=/etc/apt/trusted.gpg.d/kubernetes.gpg] https://apt.kubernetes.io/ kubernetes-xenial main" |
    sudo tee /etc/apt/sources.list.d/kubernetes.list
{{ end -}}

echo -e "\033[0;32m>>>>> Finish Setting Up 3rd Party Repositories <<<<<\033[0m"
{{ end -}}
