{{ if (eq .chezmoi.os "linux") -}}
#!/bin/bash

set -eufo pipefail

# Install Zsh:
{{ if (eq .chezmoi.osRelease.id "arch") -}}
yay -Sy zsh
{{ end -}}
{{ if (or (eq .chezmoi.osRelease.idLike "ubuntu") (eq .chezmoi.osRelease.idLike "ubuntu debian")) -}}
sudo apt install -y zsh
{{ end -}}

sudo mkdir /usr/share/zsh-antigen
sudo wget -q -O /usr/share/zsh-antigen/antigen.zsh git.io/antigen

# Set Zsh as your default shell:
chsh -s $(which zsh)

# Install iconic font for Zsh
# See more: https://nerdfonts.com/
{{ if (or (eq .chezmoi.osRelease.idLike "ubuntu") (eq .chezmoi.osRelease.idLike "ubuntu debian")) -}}
mkdir -p ~/.fonts && wget -qO- https://github.com/ryanoasis/nerd-fonts/releases/download/v2.1.0/UbuntuMono.zip | busybox unzip -d ~/.fonts -
fc-cache -fv
{{ end -}}
{{ if (eq .chezmoi.osRelease.id "arch") -}}
yay -Sy nerd-fonts-ubuntu-mono
{{ end -}}
{{ end -}}
