{{ if (eq .chezmoi.os "linux") -}}
#!/bin/bash

set -eufo pipefail

packages=()

# Commom package names for linux distro
# Browsers
packages+=(
    firefox
)

# Developer tools
packages+=(
    code
    code-insiders
    teams
    neovim
    docker
    docker-compose
    bat
    mysql-client
)

# Image
packages+=(
    gimp
    inkscape
)

# Office suite
packages+=(
    libreoffice-writer
    libreoffice-calc
    libreoffice-impress
)

# Utility
packages+=(
    curl
    ntfs-3g
    p7zip
    unrar
    unzip
    wget
    zip
    peek
    remmina
    openvpn
    gromit-mpx
    xclip
)

# Security
packages+=(
    gufw
)

{{ if (or (eq .chezmoi.osRelease.idLike "ubuntu") (eq .chezmoi.osRelease.idLike "ubuntu debian")) -}}

repositories=()

# Gnome apps
packages+=(
    gdebi
)

# Multimedia
packages+=(
    spotify-client
)

# Utility
packages+=(
    anydesk
    virtualbox
    virtualbox-ext-pack
)

# Browsers
packages+=(
    google-chrome-stable
)

repositories+=(
    ppa:neovim-ppa/unstable
)

{{ if (eq .chezmoi.osRelease.id "elementary") -}}
packages+=(
    software-properties-common
    pantheon-tweaks
    libreoffice-gtk3
    libreoffice-style-elementary
)

# Multimedia codecs
packages+=(
    ubuntu-restricted-extras
    libavcodec-extra
    libdvd-pkg
)

repositories+=(
    ppa:philip.scott/pantheon-tweaks
)
{{ end -}}

# TODO Configurar megasync

# lazygit and lazydocker
wget -qO- https://github.com/jesseduffield/lazygit/releases/download/v0.29/lazygit_0.29_Linux_x86_64.tar.gz | sudo tar -xz -C /usr/local/bin \
    && sudo chmod +x /usr/local/bin/lazygit
wget -qO- https://github.com/jesseduffield/lazydocker/releases/download/v0.12/lazydocker_0.12_Linux_x86_64.tar.gz | sudo tar -xz -C /usr/local/bin \
    && sudo chmod +x /usr/local/bin/lazydocker

# NVM
export NVM_DIR="$HOME/.nvm" && (
  git clone https://github.com/nvm-sh/nvm.git "$NVM_DIR"
  cd "$NVM_DIR"
  git checkout `git describe --abbrev=0 --tags --match "v[0-9]*" $(git rev-list --tags --max-count=1)`
) && \. "$NVM_DIR/nvm.sh"

nvm install node
nvm alias default node

# Postman
wget -qO- https://dl.pstmn.io/download/latest/linux64 | sudo tar -xz -C /opt \
    && sudo ln -s /opt/Postman/Postman /usr/bin/postman

# Install kitty
sh -c "$(wget -qO- sw.kovidgoyal.net/kitty/installer.sh)" -- launch=n && \
    sudo ln -s ~/.local/kitty.app/bin/kitty /usr/local/bin/ && \
    cp ~/.local/kitty.app/share/applications/kitty.desktop ~/.local/share/applications/ && \
    sed -i "s|Icon=kitty|Icon=/home/$USER/.local/kitty.app/share/icons/hicolor/256x256/apps/kitty.png|g" ~/.local/share/applications/kitty.desktop

# 3rd Party Repository: Google Chrome
wget -qO - https://dl-ssl.google.com/linux/linux_signing_key.pub | sudo apt-key add -
sudo sh -c 'echo "deb [arch=amd64] http://dl.google.com/linux/chrome/deb/ stable main" > /etc/apt/sources.list.d/google.list'

# 3rd Party Repository: Microsoft Packages
wget -qO - https://packages.microsoft.com/keys/microsoft.asc | sudo apt-key add -
sudo apt-add-repository https://packages.microsoft.com/ubuntu/20.04/prod

# 3rd Party Repository: Spotify
curl -sS https://download.spotify.com/debian/pubkey_0D811D58.gpg | sudo apt-key add -
sudo sh -c 'echo "deb [arch=amd64] http://repository.spotify.com stable non-free" > /etc/apt/sources.list.d/spotify.list'

# 3rd Party Repository: Anydesk
wget -qO - https://keys.anydesk.com/repos/DEB-GPG-KEY | sudo apt-key add -
sudo sh -c 'echo "deb [arch=amd64] http://deb.anydesk.com/ all main" > /etc/apt/sources.list.d/anydesk.list'

# Repository dependency
sudo apt install -y software-properties-common
# Register Repositories
for repository in ${repositories[@]}; do
	sudo add-apt-repository -y $repository
done

sudo apt update && sudo apt install -y ${packages[@]}
{{ end -}}

{{ if (eq .chezmoi.osRelease.id "arch") -}}
# Gnome apps
packages+=(
    eog
    evince
    file-roller
    networkmanager
    gnome-backgrounds
    gnome-calculator
    gnome-calendar
    gnome-control-center
    gnome-disk-utility
    gnome-photos
    gnome-screenshot
    gnome-shell-extensions
    gnome-video-effects
    gnome-shell-pomodoro
    gnome-shell-extension-dash-to-dock
    gnome-system-monitor
    clutter
    gvfs
    sushi
    totem
    gnome-tweaks
    gnome-usage
)

# Themes
packages+=(
    adapta-gtk-theme
    breeze-adapta-cursor-theme-git
    paper-icon-theme-git
    suru-plus-pack-git
    xcursor-breeze
    yaru-gnome-shell-theme
    yaru-gtk-theme
    yaru-icon-theme
)

# Fonts
packages+=(
    ttf-dejavu
    ttf-freefont
    ttf-jetbrains-mono
    ttf-liberation
    ttf-ms-fonts
    ttf-ubuntu-font-family
)

# Browsers
packages+=(
    google-chrome
    chrome-gnome-shell
    firefox-i18n-pt-br
    firefox-extension-gnome-shell-integration
    firefox-developer-edition
    firefox-developer-edition-i18n-pt-br
)

# Developer tools
packages+=(
    nvm
    postman-bin
    lazygit
    lazydocker
    kitty
)

# Cloud
packages+=(
    # dropbox
    # nautilus-dropbox
    megasync-bin
)

# Password Manager
packages+=(
    bitwarden
)

yay -S ${packages[@]}
{{ end -}}
{{ end -}}
