{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash
{{ if eq .chezmoi.osRelease.idLike "ubuntu" "ubuntu debian" -}}
sudo apt autoremove
{{ end -}}

{{ if eq .chezmoi.osRelease.id "arch" -}}
sudo pacman -Scc
sudo pacman -Qdtq | sudo pacman -Rs
sudo rm -Rv /tmp/
sudo yay -Scc
sudo yay -Qtd
{{ end -}}
{{ end -}}
