{{ if eq .chezmoi.os "linux" -}}
{{ if eq .chezmoi.osRelease.idLike "ubuntu" "ubuntu debian" -}}
#!/bin/bash

set -eufo pipefail

sudo apt update
{{ if (eq .chezmoi.osRelease.id "neon") -}}
pkcon -y update
{{ else }}
sudo apt upgrade
{{ end -}}
sudo apt dist-upgrade

{{ end -}}
{{ end -}}
