{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash

set -eufo pipefail

pip3 install --user --upgrade pynvim

npm i -g neovim

gem install --user-install neovim

PATH="$(ruby -r rubygems -e 'puts Gem.user_dir')/bin:$PATH"

# Composer latest version
wget https://raw.githubusercontent.com/composer/getcomposer.org/master/web/installer -O - -q -P /tmp | sudo php -- --install-dir=/usr/local/bin --filename=composer

nvim --headless \
    -c 'autocmd User PackerComplete quitall' \
    -c 'PackerSync'

nvim --headless \
    -c 'LspInstall --sync bashls diagnosticls jsonls yamlls vimls sumneko_lua phpactor tsserver cmake sqls gopls eslint angularls psalm zk dockerls' \
    -c quitall

{{ end -}}
