[data]
  name = "Afranio Martins"
  email = "afranioce@gmail.com"
  identity = "~/.ssh/id_personal"
  workspace = "~/Projects/Personal/"
[data.falabella]
  email = "abarbosam@falabella.com"
  identity = "~/.ssh/id_falabella"
  workspace = "~/Projects/Falabella/"
[data.linio]
  email = "afranio.martins@linio.com"
  identity = "~/.ssh/id_linio"
  workspace = "~/Projects/Linio/"
