{{ if eq .chezmoi.os "linux" -}}
{{ if eq .chezmoi.osRelease.id "gnome" "arch" -}}
#!/bin/bash
#
# Set personal settings
# See schemas in /usr/share/glib-2.0/schemas
# See https://github.com/GNOME/gsettings-desktop-schemas
# See https://blog.gtk.org/2017/05/01/first-steps-with-gsettings/

# GTK theme
gsettings set org.gnome.desktop.interface gtk-theme 'Yaru-dark'

# Icon theme
gsettings set org.gnome.desktop.interface icon-theme 'Yaru'

# Shell theme
gsettings set org.gnome.shell.extensions.user-theme 'Yaru'

# Shell theme
gsettings set org.gnome.desktop.interface cursor-theme 'Yaru'

# Default calendar
gsettings set org.gnome.desktop.default-applications.office.calendar exec gnome-calendar

# Fonts
gsettings set org.gnome.desktop.interface font-name 'Ubuntu 11'
gsettings set org.gnome.desktop.interface monospace-font-name 'Ubuntu Mono 10'
gsettings set org.gnome.desktop.interface document-font-name 'Ubuntu 11'

# Touchpad
gsettings set org.gnome.desktop.peripherals.touchpad disable-while-typing true
gsettings set org.gnome.desktop.peripherals.touchpad click-method 'fingers'
gsettings set org.gnome.desktop.peripherals.touchpad tap-to-click  true
gsettings set org.gnome.desktop.peripherals.touchpad two-finger-scrolling-enabled true

# Dash to Dock
gsettings set org.gnome.shell.extensions.dash-to-dock click-action 'minimize-or-previews'
gsettings set org.gnome.shell.extensions.dash-to-dock dock-fixed true
gsettings set org.gnome.shell.extensions.dash-to-dock extend-height true
gsettings set org.gnome.shell.extensions.dash-to-dock icon-size-fixed true
gsettings set org.gnome.shell.extensions.dash-to-dock running-indicator-style 'DOTS'
gsettings set org.gnome.shell.extensions.dash-to-dock dock-position 'LEFT'
gsettings set org.gnome.shell.extensions.dash-to-dock extend-height true
gsettings set org.gnome.shell.extensions.dash-to-dock icon-size-fixed true
gsettings set org.gnome.shell.extensions.dash-to-dock dash-max-icon-size 20
gsettings set org.gnome.shell.extensions.dash-to-dock background-opacity 0.60000000000000004
gsettings set org.gnome.shell.extensions.dash-to-dock transparency-mode 'FIXED'
gsettings set org.gnome.shell.extensions.dash-to-dock show-windows-preview true
gsettings set org.gnome.shell.extensions.dash-to-dock apply-custom-theme false
gsettings set org.gnome.shell.extensions.dash-to-dock custom-theme-shrink false

# Favorite Apps
gsettings set org.gnome.shell favorite-apps "[ \
	'firefox-developer-edition.desktop', \
    'thuderbird.desktop', \
    'org.gnome.Nautilus.desktop', \
    'org.gnome.Software.desktop', \
    'libreoffice-writter.desktop', \
    'spotify.desktop', \
    'gimp.desktop', \
    'slack.desktop', \
    'teams.desktop', \
    'kitty.desktop', \
	'code-oss.desktop', \
    'nvim.desktop' \
]"
{{ end -}}
{{ end -}}