{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash

set -eufo pipefail

keys=(
    personal
    falabella
    linio
)

if [ -d "{{ .backupDir }}" ]; then
    for key in ${keys[@]}; do
        gpg --import-options restore --import {{ .backupDir }}Afranio/GpgKeys/$key.gpg
    done
else
    echo "The restore of the GPG keys was skipped, the Backup dir hasn't been exists"
fi
{{ end -}}
