{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash

set -eufo pipefail

{{ if eq .chezmoi.osRelease.id "pop" "ubuntu" -}}
sudo apt autoremove
{{ end -}}

{{ if eq .chezmoi.osRelease.id "arch" -}}
sudo pacman -Scc
sudo pacman -Qdtq | sudo pacman -Rs
sudo rm -Rv /tmp/
sudo yay -Scc
sudo yay -Qtd
{{ end -}}
{{ end -}}
