{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash

set -eufo pipefail
echo -e "\033[0;32m>>>>> Begin Setting Up Packages <<<<<\033[0m"

packages=()

# Commom package names for linux distro
# Browsers
packages+=(
    firefox
)

# Developer tools
packages+=(
    git
    code
    code-insiders
    teams
    neovim
    docker-ce
    docker-ce-cli
    containerd.io
    bat
    ripgrep
    mysql-client
    ca-certificates
    gnupg
    lsb-release
    ruby-dev
    golang
    php-cli
    php-dev
    php-curl
    php-mbstring
    python3-pip
)

# Image
packages+=(
    gimp
    inkscape
)

# Office suite
packages+=(
    libreoffice-writer
    libreoffice-calc
    libreoffice-impress
)

# Utility
packages+=(
    curl
    ntfs-3g
    p7zip
    unrar
    unzip
    gzip
    wget
    zip
    peek
    remmina
    openvpn
    gromit-mpx
    xclip
    openjdk-8-jre
    gnome-shell-pomodoro
    gir1.2-gtop-2.0
    gir1.2-nm-1.0
    gir1.2-clutter-1.0
    gnome-system-monitor
    gnome-tweaks
    gnome-usage
    gnome-sushi
    gnome-clocks
)

# Security
packages+=(
    gufw
)

{{ if eq .chezmoi.osRelease.id "pop" "ubuntu" -}}
{{ if eq .chezmoi.osRelease.versionID "22.04" -}}
packages+=(
    python3.10-venv
)
{{ else }}
packages+=(
    python3.9-venv
)
{{ end }}

# Gnome apps
packages+=(
    gdebi
    network-manager-openvpn-gnome
)

# Multimedia
packages+=(
    spotify-client
)

# Utility
packages+=(
    anydesk
    virtualbox
    virtualbox-ext-pack
)

# Browsers
packages+=(
    google-chrome-stable
)

{{ if eq .chezmoi.osRelease.id "elementary" -}}
packages+=(
    software-properties-common
    pantheon-tweaks
    libreoffice-gtk3
    libreoffice-style-elementary
)

# Multimedia codecs
packages+=(
    ubuntu-restricted-extras
    libavcodec-extra
    libdvd-pkg
)
{{ end -}}

{{ if eq .chezmoi.osRelease.id "neon" -}}
packages+=(
    libreoffice-gtk3
    latte-dock
)
{{ end -}}

sudo apt update && sudo apt install -y ${packages[@]}
{{ end -}}
{{ if eq .chezmoi.osRelease.id "arch" -}}
# Gnome apps
packages+=(
    eog
    evince
    file-roller
    networkmanager
    gnome-backgrounds
    gnome-calculator
    gnome-calendar
    gnome-control-center
    gnome-disk-utility
    gnome-photos
    gnome-screenshot
    gnome-shell-extensions
    gnome-video-effects
    gnome-shell-extension-dash-to-dock
    clutter
    gvfs
    totem
)

# Themes
packages+=(
    adapta-gtk-theme
    breeze-adapta-cursor-theme-git
    paper-icon-theme-git
    suru-plus-pack-git
    xcursor-breeze
    yaru-gnome-shell-theme
    yaru-gtk-theme
    yaru-icon-theme
)

# Fonts
packages+=(
    ttf-dejavu
    ttf-freefont
    ttf-jetbrains-mono
    ttf-liberation
    ttf-ms-fonts
    ttf-ubuntu-font-family
)

# Browsers
packages+=(
    google-chrome
    chrome-gnome-shell
    firefox-i18n-pt-br
    firefox-extension-gnome-shell-integration
    firefox-developer-edition
    firefox-developer-edition-i18n-pt-br
)

# Cloud
packages+=(
    # dropbox
    # nautilus-dropbox
    kubectl
    azure-cli
)

# Password Manager
packages+=(
    bitwarden
)

yay -S ${packages[@]}
{{ end -}}

echo -e "\033[0;32m>>>>> Finish Setting Up Packages <<<<<\033[0m"
{{ end -}}
