{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash

set -eufo pipefail

# Install neovim dependencies
pip3 install --user --upgrade pynvim
npm i -g neovim tree-sitter-cli
gem install --user-install neovim

nvim --headless \
    -c 'autocmd User PackerComplete quitall' \
    -c 'PackerSync'

nvim --headless \
    -c 'LspInstall --sync bashls diagnosticls jsonls yamlls vimls sumneko_lua phpactor tsserver cmake sqls gopls eslint angularls psalm zk dockerls' \
    -c quitall
{{ end -}}
