{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash

set -eufo pipefail

keys=(
    personal
    falabella
    linio
)

for key in ${keys[@]}; do
    gpg --import-options restore --import /Backup/Afranio/GpgKeys/$key.gpg
done
{{ end -}}
